.user {
    opacity: 0;
    transition-duration: 1s ease;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 650px;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.user.active {
    opacity: 1;
    transition-duration: 1s;
    z-index: 1;
}