.page-header {
    box-sizing: border-box;
    margin: 60px;
}

.page-header h1 {
    box-sizing: border-box;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: -5px;
}

.page-header h2 {
    box-sizing: border-box;
    font-size: 28px;
    font-weight: 700;
    margin-top: 0px;
}

.page-header small {
    box-sizing: border-box;
    font-size: 24px;
    margin-top: 10px;
}

.page-header a {
    box-sizing: border-box;
    text-decoration: underline;
    color: white;
}